.Friends_Per{
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
.Friends_Per h2 {
  font-size: 1.5rem;
  color: white;
}
.Friends_description {
  font-size: 1rem;
  color: white;
  text-align: justify;
  word-spacing: normal;
}
