.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(178, 110, 255);
    padding: 20px;
  }
 
 
  .ul {
    list-style-type: none; 
    display: flex;
    gap: 15px;
  }
  
  .li {
    font-size: 1.4rem;
    color: rgb(220, 182, 255);
  }