.footer_icons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    height: 10vh;
    border-top: 1px solid rgb(178, 110, 255);
    margin-top: 20px;
  }
  .footer{
    width: 100%;
  }
  @media (max-width: 950px){
    .footer_icons{
      padding-top: 70px;
      font-size: 1.5rem;
    }
  }