.footer_icons{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    align-items: center;
    height: 10vh;
    border-top: 1px solid rgb(124, 124, 124);
    margin-top: 20px;
  }
  .footer{
    width: 100%;
  }
  .faFacebook{
    color: #3b5998;
    font-size: 1.2em; 
    margin: 10px;

  }
  .faInstagram{
    color: #e1306c;
      font-size: 1.2em; 
      margin: 10px;
  }
  .faGoogle{
    font-size: 1.2em; 
    margin: 10px;
    color: #007bff;
  }

  @media (max-width: 950px){
    .footer_icons{
      padding-top: 40px;
      gap: 20%;
      font-size: 1rem;
    }
  }
  @media (max-width: 600px){
    .footer_icons{
      padding: 20px;
      gap: 25%;
      font-size: 0.8rem;
    }
  }