*{
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 21, 96, 1) 100%,
    rgba(47, 87, 173, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
.App {
  text-align: center;
}
